@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clickable,
.pressable {
  cursor: pointer;
}
.clickable:hover,
.pressable:hover {
  filter: brightness(1.1);
}
.pressable:active {
  transform: translateY(0.5px);
}
.clickable:active {
  filter: brightness(1.4);
}

body {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  margin: 0;
  color: silver;
  --content-width-on-desktop: 800px;
  --blue-highlight: hsl(215, 100%, 70%);
  --movie-entry-border: rgb(206, 161, 206);
  --live-action-tv-entry-border: rgb(115, 177, 203);
  --animated-tv-entry-border: rgb(121, 180, 121);
  --search-highlight: #ff0d;
}

.viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.full-width-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

/* a narrow container that takes full width on mobile, centers on widescreen */
.narrow {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-width-on-desktop);
  overflow-x: hidden;
}
