@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clickable,
.pressable {
  cursor: pointer;
}
.clickable,
.pressable:hover {
  filter: brightness(1.1);
}
.pressable:active {
  transform: translateY(0.5px);
}
.clickable:active {
  filter: brightness(1.4);
}

body {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  margin: 0;
  color: silver;
  --app-max-width: 800px;
  --blue: hsl(215, 100%, 70%);
}

/* a container exactly the size of viewport, good for things like page background */
.container-all-viewport {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* a narrow container that takes full width on mobile, centers on widescreen, can vertically scroll if has lots of content; good for things like the main big list of movies */
.container-narrow {
  width: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto auto auto;
}

/* a narrow container that takes full width on mobile, centers on widescreen, always occupies full height and can't scroll; good as parent for placing things like bottom nav, modal curtain */
.container-narrow-viewport {
  height: 100%;
  width: 100%;
  max-width: var(--app-max-width);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
